body{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    background: url(La\ Verdad\ Christian\ College.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-content: start;
    align-content: flex-end;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    padding-bottom: 2%;
    display: block;
}

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

#contact section{
    background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.9));
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    padding-bottom: 2%;
    display: flex;
}

#contact-section .container h2{
    text-align: center;
    text-decoration: underline;
    color: rgb(238, 235, 235);
    letter-spacing: 2px;
}

#contact-section .container p{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    color: #fff;
    letter-spacing: 3px;
}

.contact-form i.fa{
    font-size: 22px;
    padding: 3%;
    background-color: none;
    margin: 2%;
    border-radius: 80%;
    cursor: pointer;
    border: 2px solid rgb(18, 17, 17);
    color: rgb(26, 25, 25);
    align-content: center;
    justify-content: center;
    text-align: center;
}